.element__like-icon {
  display: inline-block;
  background-image: url(../../../images/like-icon.svg);
  width: 22px;
  height: 19px;
  vertical-align: middle;
}

.element__like-checkbox:checked + .element__like-icon {
  background-image: url(../../../images/active-like-icon.svg);
}